/************************************************************* 
* Constants, mixins, etc ************************************* 
**************************************************************/
@font-face {
  font-family: CharisSILRegular;
  font-weight: normal;
  font-style: normal;
  src: url(./fonts/CharisSIL-R.ttf); }
a, a:hover {
  text-decoration: none; }

nav, main, footer {
  display: block;
  width: 100%; }

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #E5E5E5;
  border-radius: 50%;
  opacity: 0.6; }
  #back-to-top i {
    color: #198419; }

/************************************************************* 
* Animations ************************************************* 
**************************************************************/
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px); }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px); }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px); }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
/************************************************************* 
* Holding page *********************************************** 
**************************************************************/
#holding {
  width: 100%; }
  #holding .wrapper {
    width: 900px;
    height: 227px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  #holding .inline {
    display: inline-block;
    position: relative;
    float: left; }
  #holding .left {
    padding-right: 50px;
    width: 80%; }
    #holding .left img {
      float: right;
      width: 600px; }
      #holding .left img:hover {
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 3;
        animation-iteration-count: 3; }
  #holding .right {
    border-left: 4px solid #198419;
    height: 212px;
    width: 20%;
    text-align: center; }
  #holding p {
    font-weight: 500;
    font-size: x-large;
    margin-bottom: 0px; }
  #holding #icons {
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    height: 216px;
    -webkit-transition: right 3s;
    transition: right 3s; }
    #holding #icons i:hover {
      color: #198419; }
  #holding .fa-wrench, #holding .fa-paint-roller {
    right: 100px; }
  #holding .fa-hammer, #holding .fa-screwdriver {
    left: 100px; }

/************************************************************* 
* Components ************************************************* 
**************************************************************/
body {
  background-color: #E5E5E5;
  font-family: CharisSILRegular; }

header {
  font-weight: bold; }

nav li {
  list-style: none;
  display: inline; }

section {
  padding-bottom: 100px; }
  section #strapline span {
    text-decoration: underline; }
  section #what-i-offer span {
    font-style: italic; }
  section #faq .faq-q {
    font-weight: bold; }
  section #faq .faq-a {
    padding-bottom: 10px; }

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap; }
  body > * {
    flex: 1 100%; }

@media all and (min-width: 600px) {
  section {
    -webkit-box-flex: 1 auto;
    -moz-box-flex: 1 auto;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; } }
@media all and (min-width: 800px) {
  #strapline {
    flex: 2 0px; }

  section {
    order: 1; }

  .main {
    order: 2; }

  section {
    order: 3; }

  footer {
    order: 4; } }

/*# sourceMappingURL=styles.css.map */
