/************************************************************* 
* Components ************************************************* 
**************************************************************/
body {
	background-color: $LIGHT_GREY;
	font-family: CharisSILRegular;
}

header {
	font-weight: bold;
}

nav {
    ul {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        }
    
    li {
	   list-style: none;
        display: inline;
    }
}

main {
	@extend %main-comp-layout;
}

section {
	padding-bottom: 100px;
    
    #strapline span {
        text-decoration: underline;
    }

    #what-i-offer span {
        font-style: italic;
    }
    
    #faq {
        .faq-q {
            font-weight: bold;
        }

        .faq-a {
            padding-bottom: 10px;
        }
    }
}

footer {
    @extend %main-comp-layout;
}