/************************************************************* 
* Components ************************************************* 
**************************************************************/
@font-face {
   font-family: CharisSILRegular;
   font-weight: normal;
   font-style: normal;
   src: url(../fonts/CharisSIL-R.ttf);
} 

body {
	background-color: $LIGHT_GREY;
	font-family: CharisSILRegular;
}

header {
	font-weight: bold;
}

nav {
	display: inline-block;
	float: left;
	width: 15%;
}

nav li {
	list-style: none;
}

main {
	display: inline-block;
	float: left;
	width: 85%;
}

section {
	padding-bottom: 100px;
}

footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#strapline span {
	text-decoration: underline;
}
	
#what-i-offer span {
	font-style: italic;
}

a, a:hover {
	text-decoration: none;
}

.ppr-green {
    color: $PPR_GREEN;
}

/* FAQ-specific */
.faq-q {
	font-weight: bold;
}

.faq-a {
	padding-bottom: 10px;
}