/************************************************************* 
* Components ************************************************* 
**************************************************************/
body {
	background-color: $PPR_GREEN_RGB;
	font-family: CharisSILRegular;
}

header {
	font-weight: bold;
}

nav {
    min-height: $height_nav;
    border-bottom: $border;
    background-color: $LIGHT_GREY;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    
    div {
        position: relative;
        display: inline-block;
        
        &#logo-small {
            width: $width_small_logo;
            float: left;
            top: calc((#{$height_nav} - #{$width_small_logo}) / 2);
            left: calc(#{$height_nav} - #{$width_small_logo});
        }
        
        &#navigation {
            width: calc(100% - #{$width_small_logo});
            top: calc((#{$height_nav} / 2) - 1em);
        }
    }
    
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 60%;
        float: right;
    }
    
    li {
        list-style: none;
        display: inline;
        
        a {
            color: #000;
            font-weight: 600;
        }
    }
    
    img {
        width: $width_small_logo;
    }
}

main {
    display: flex;
    flex-flow: row wrap;
    margin: 0 $width_gutter_main;
    width: calc(100% - (2 * #{$width_gutter_main}));
    
    &> * {
        flex: 1 100%;
    }
    
    #back-to-top {  
        position: fixed;
        bottom: calc(#{$back_to_top_margin} + #{$height_foot});
        right: $back_to_top_margin;
        background-color: $PPR_GREEN_HEX;
        border-radius: 50%;

        i {
            color: $LIGHT_GREY;
        }
    }
}

section {
    border: $border;
    border-radius: 10px;
    background-color: $LIGHT_GREY;
    padding: 20px;
    margin-bottom: 25px;
    
    /* sticky header offset
        &::before {
            display: block;
            content: " ";
            margin-top: -$height_nav;
            height: $height_nav;
            visibility: hidden;
            pointer-events: none;
        }
    */
    
        
    &.toggleable {
        cursor: pointer;
        
        &::before {
            @extend %section-caret;
            content: "\f0d7";
        }

        &.closed {
            div.section-content {
                display: none;
            }
        
            &::before {
                content: "\f0da";
            }
        }
    }
    
    header {
        text-align: center;
    }
    
    &#logo-strapline {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 50px 0;
        
        img {
            // 3x smaller than original file - 2002 x 745
            max-width: 667px;
            max-height: 248px;
            margin-bottom: 50px;
        }
        
        p {
            max-width: 800px;
            text-align: center;
            
            span {
                text-decoration: underline;
                font-weight: 700;
            }
        }
    }
    
    &#testimonials {
        div.section-content > div {
            display: inline-block;
            float: left;
            width: 50%;
            height: 500px;
            
            &#twitter-feed {
                border: $border;
                border-radius: 10px;
                overflow-y: scroll;
            }
        
            &#previous-clients {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
                .client {
                    text-align: center;
                    height: 50%;
                    width: 100%;
                    
                    .quote {
                        font-style: italic;
                    }
                }
            }
        }
    }

    &#what-i-offer {
        span {
            font-style: italic;
        }
    }
    
    &#faq {
        .faq-q {
            font-weight: bold;
        }

        .faq-a {
            padding-bottom: 10px;
        }
    }
    
    &#contact {
    }
}

footer {
    text-align: center;
    border-top: $border;
    background-color: #fff;
    height: $height_foot;
    
    div {
        position: relative;
        top: calc((#{$height_foot} / 2) - 1em);
    }
}

a, a:hover {
    text-decoration: none;
    color: $PPR_GREEN_HEX;
}
        
p {
    margin-bottom: 0;
}
        
li {
    list-style-type: none;
    
    &:not(.nav):before {
        color: $PPR_GREEN_HEX;
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        width: 10px;
        height: 10px;
        margin-right: 5px;
        font-weight: 900;
    }
}

/************************************************************* 
* Screen size >800px only ************************************ 
**************************************************************/
@media all and (min-width: 800px) {
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        
        &> * {
            flex: 1 100%;
        }
    }
    .inline {
        flex: 1 auto;
        max-width: 50%;
    }
    
    main {
        margin: 0 $width_gutter_main_large;
        width: calc(100% - (2 * #{$width_gutter_main_large}));
    }
}