/************************************************************* 
* Constants, mixins, etc ************************************* 
**************************************************************/
@font-face {
   font-family: CharisSILRegular;
   font-weight: normal;
   font-style: normal;
   src: url(./fonts/CharisSIL-R.ttf);
}

a, a:hover {
	text-decoration: none;
}

$LIGHT_GREY: #E5E5E5;
$PPR_GREEN: #198419;

%main-comp-layout {
    display: block;
    width: 100%;
}


@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}


    
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: $LIGHT_GREY;
    border-radius: 50%;
    opacity: 0.6;

    i {
        color: $PPR_GREEN;
    }
}