/************************************************************* 
* Mixins, constants, variables, etc ************************** 
**************************************************************/
@font-face {
   font-family: CharisSILRegular;
   font-weight: normal;
   font-style: normal;
   src: url(./fonts/CharisSIL-R.ttf);
}

%flex-layout {
    
}

$LIGHT_GREY: #E5E5E5;
$PPR_GREEN: #198419;

$height_nav: 70px;
$height_foot: 40px;
$width_gutter_main_large: 100px;
$width_gutter_main: 15px;
$width_small_logo: 50px;
$back_to_top_margin: 10px;

$comp_border: 3px solid #000;